<a href="https://colab.research.google.com/github/SeishiroInoue/SeishiroInoue/blob/main/supplement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# メルカリ商品データの概要

In [1]:
import pandas as pd

# カテゴリID

In [2]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/senior thesis/data/supplement_20220901/item_categories.csv')
data

        id         name0         name1          name2
0        1         レディース         レディース          レディース
1        2           メンズ           メンズ            メンズ
2        3       ベビー・キッズ       ベビー・キッズ        ベビー・キッズ
3        4  インテリア・住まい・小物  インテリア・住まい・小物   インテリア・住まい・小物
4        5      本・音楽・ゲーム      本・音楽・ゲーム       本・音楽・ゲーム
...    ...           ...           ...            ...
1320  1402           その他          飲料/酒             焼酎
1321  1403           その他          飲料/酒            日本酒
1322  1404           その他          飲料/酒        ビール、発泡酒
1323  1405           その他          飲料/酒            その他
1324  1406     コスメ・香水・美容        メイクアップ  トライアルセット/サンプル

[1325 rows x 4 columns]

## 商品の状態

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/senior thesis/data/supplement_20220901/item_conditions.csv')
data

   id        name
0   1      新品、未使用
1   2      未使用に近い
2   3  目立った傷や汚れなし
3   4    やや傷や汚れあり
4   5      傷や汚れあり
5   6   全体的に状態が悪い

## サイズ

In [4]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/senior thesis/data/supplement_20220901/item_sizes.csv')
data

      id       name
0      2          S
1      3          M
2      4          L
3      5     XL(LL)
4      7  FREE SIZE
..   ...        ...
136  157  4XL(5L)以上
137  158      12インチ
138  159      22インチ
139  160      23インチ
140  161      24インチ

[141 rows x 2 columns]

## ブランド名

In [5]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/senior thesis/data/supplement_20220901/brand_names.csv')
data

          id            name_ja              name_en
0          1          179ダブリュジー               179/WG
1       7851          1975トーキョー           1975 tokyo
2          4           1メートルキャレ         1metre carre
3       3056         15ミニッツビューズ          15min biw's
4          2                17℃                  17℃
...      ...                ...                  ...
16935  17442            ヴィーナスラボ            VENUS LAB
16936  17448  ヴィクティムヴィクセンヴィクトール  VICTIM VIXEN VICTOR
16937  10507             三愛水着楽園        San ai Resort
16938  10595             日本フォード           Ford Japan
16939   4242                 日産               NISSAN

[16940 rows x 3 columns]

## 送料の負担

In [6]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/senior thesis/data/supplement_20220901/shipping_payers.csv')
data

   id         name
0   1   着払い(購入者負担)
1   2  送料込み(出品者負担)

## 発送の方法

In [7]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/senior thesis/data/supplement_20220901/shipping_methods.csv')
data

    id           name  shipping_payer_id
0    1             未定                  1
1    3        クロネコヤマト                  1
2    4          ゆうパック                  1
3    5             未定                  2
4    6          ゆうメール                  2
5    7  ポスパケット/ゆうパケット                  2
6    8         レターパック                  2
7    9   普通郵便(定形、定形外)                  2
8   10        クロネコヤマト                  2
9   11          ゆうパック                  2
10  12         はこBOON                  2
11  13        クリックポスト                  2
12  14      らくらくメルカリ便                  2
13  15          ゆうメール                  1
14  16     梱包・発送たのメル便                  2
15  17      ゆうゆうメルカリ便                  2
16  19      あとよろメルカリ便                  2

## 発送元の地域

In [8]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/senior thesis/data/supplement_20220901/shipping_from_areas.csv')
data

    id  name
0    1   北海道
1    2   青森県
2    3   岩手県
3    4   宮城県
4    5   秋田県
5    6   山形県
6    7   福島県
7    8   茨城県
8    9   栃木県
9   10   群馬県
10  11   埼玉県
11  12   千葉県
12  13   東京都
13  14  神奈川県
14  15   新潟県
15  16   富山県
16  17   石川県
17  18   福井県
18  19   山梨県
19  20   長野県
20  21   岐阜県
21  22   静岡県
22  23   愛知県
23  24   三重県
24  25   滋賀県
25  26   京都府
26  27   大阪府
27  28   兵庫県
28  29   奈良県
29  30  和歌山県
30  31   鳥取県
31  32   島根県
32  33   岡山県
33  34   広島県
34  35   山口県
35  36   徳島県
36  37   香川県
37  38   愛媛県
38  39   高知県
39  40   福岡県
40  41   佐賀県
41  42   長崎県
42  43   熊本県
43  44   大分県
44  45   宮崎県
45  46  鹿児島県
46  47   沖縄県
47  99    未定

## 発送にかかる日数

In [9]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/senior thesis/data/supplement_20220901/shipping_durations.csv')
data

   id     name
0   1  1~2日で発送
1   2  2~3日で発送
2   3  4~7日で発送